# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = spider_web.settings

[scrapyd]
application = scrapy_heroku.app.application

[deploy]
url = https://spiderwebsam.herokuapp.com
project = spiderwebsam
username = josuemarques3@gmail.com
password = 21102017@jk